@font-face {
  font-family: 'MyWebFont';
  src:  url('Fonts/HelveticaNeueCyr-Light.woff2') format('woff2')
        
}
@font-face {
  font-family: 'MyWebFont2';
  src:  url('Fonts/HelveticaNeueCyr-Roman.woff2') format('woff2')
        
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family:'MyWebFont';
  overflow-x: hidden;
  background-color: black;
  color: white;
}
section{
  border: 2px solid rgb(255, 0, 0);

}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  outline: none;
}

.webg{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 1;
  width: 100vw;
  height: 100vh;


}

#section1{
  z-index:1;
  position: relative;
  height: 100vh;
}



#menuholder {
  position: absolute;
  width: 1600px;
  margin-left: 42vw;
  margin-top: 3vh;
  z-index: 3;
}
#logo {
  z-index: 3;
  position: absolute;
  display: none;
top: 6vh;
left: 5vw;
  
}
.subcontainer{
  width: 85%;
  margin: auto;
  z-index: 3;
}
.navbar {
  width: 60%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
.nav-menu {

  display: flex;
  justify-content: space-between;
  align-items: left;
  z-index: 3;
}
.hamburger{
  display: none;
  cursor: pointer;
  z-index: 10;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);

}
#section1 li a {
  display: flex;
  flex-direction: column;
  color: rgb(140, 140, 140);
  text-align: left;
  padding: 14px 40px;
  font-weight: 600;
  text-decoration: none;
}
#section1 li a:hover {
  color: white;
}
#section1 li{
  list-style: none;
  text-align: left;  
}
@media (max-width:1600px){
  #menuholder{
    width: 100%;
    z-index: 3;
  }
}
@media (max-width:1000px){
  #menuholder {
    position: fixed;
    overflow-y: hidden;
    overscroll-behavior: contain;
  }
  .hamburger{
    display: block;
    margin-left: 85%;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
   transform: translateY(8px ) rotate(45deg);
   background-color: rgb(0, 0, 0);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px ) rotate(-45deg);
    background-color: rgb(0, 0, 0);
  }
  .nav-menu{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    text-align:left;
    transition: 0.8s;
    z-index: 3;
    overflow-y: hidden;
    overscroll-behavior: contain;
  }
  .nav-item{
    align-items: center;
    font-size: 20px;
    z-index: 3;
    margin-left: 20%;
  }

  .nav-menu.active {
    height: 100vh;
    width: 100vw;
    padding: 0;
    left: 0%;
    z-index: 3;
    text-align: left;

  }
    #section1 li a {
      display: block;
      color: rgb(0, 0, 0);
      text-align: left;
      /* justify-content: center; */
      padding: 14px 10px;
      text-decoration: none;
      font-size: 5vw;
    
    }
    #section1 li a:hover {
      color: #c24040;
    }

  
}
/******** Nav ************/
/******** Nav ************/

#section1 h1{
  position: absolute;
  top: 5vh;
  left: 4vw;
  color: white;
  font-size: 72px;
  line-height: 72px;
  font-weight: 450;
 z-index: 2;
  letter-spacing: 2px;
}
#scrolldown {
  position: absolute;
  bottom: 5vh;
  left: 4vw;
  color: white;
  font-size: 17px;
  z-index: 2;
  
}
#sect1p {
  position: absolute;
  top: 70vh;
  left: 19vw;
  z-index: 2;
}
#sect1p p{
  color: white;
  width: 27.5vw;
  font-size: 1rem;
  line-height: 160%;
  font-weight: 300;
 
}
#w {
  position: absolute;
  left: 0;
  top: 0;
}
#section2{
  position: relative;
  height: 100vh;
}
.webgl4 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  outline: none;
}
#section3{
  position: relative;
  height: 100vh;
  z-index: 2;
}
.wrapper4{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.wrapper4 .marquee p{
  font-size: 3rem;
  font-weight: 300;
}
.full_video{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#section4 {
  z-index: 2;
  position: relative;
  height: 100vh;

}
.sect4container{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}
.sect4h1 h1{
  color: white;
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 100%;
  width: 65vw;
  letter-spacing: 2px;
}
.sect4cont {
  margin-top: 20vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 20%;
}

.sect4p{
  display: block;
}
.sect4p span{
  display: block;
  background-color: white;
  width: 30vw;
  height: 1px;
  margin-top: 7vh;
}
.sect4p p{
  font-size: 1rem;
  color: white;
  width: 30vw;
  text-align: justify;
  text-justify: inter-word;
  line-height: 150%;
}
#section5 {
  position: relative;
  height: 100vh;
  z-index: 2;
}
#sect5cont{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section5 p{
  color: white;
  font-size: 1.1rem;
  margin-bottom: 7px;
}
#section5 h1{
  font-family: 'MyWebFont2';
  color: white;
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 2px;
}
.wrapper9 {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateY(35deg) skewY(-13deg);
  transform: translate(-50%, -50%);
  max-width: 100%;
  overflow: hidden;
  opacity: 0.5;
  perspective: 300px;

 
}
.wrapper9 div{
  transform-style: preserve-3d;

  
}
.wrapper9 img{
  width: 24vw;
  height: 15vw;
}
.marquee5 {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 30s linear infinite;
}
#section6 {
  position: relative;
  height: 110vh;
  z-index: 2;
}
.sect6container{
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sect6h1 h1{
  color: white;
  font-size:3rem;
  font-weight: 400;
  line-height: 100%;
  width: 55vw;
  letter-spacing: 1px;
}
.sect6cont {
  margin-top: 15vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 20%;
}

.sect6p{
  display: flex;
  flex-direction: column;
}
.sect6p span{
  display: block;
  background-color: white;
  width: 30vw;
  height: 1px;
  margin-top: 5vh;
}
.sect6p p{
  font-size: 0.9rem;
  color: white;
  width: 30vw;
  text-align: justify;
  text-justify: inter-word;
  line-height: 150%;
}
#section7 {
  position: relative;
  z-index: 2;
  height: 950vh;
}
#recwor{
  position: absolute;
  top: 15vh;
  left: 50vw;
  transform: translate(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section7 h1{
  font-size: 9.3rem;
  color: white;
  letter-spacing: 5px;
}

.recentworkcontainer{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45vh;
  left: 50vw;
  transform: translate(-50%);
  width: 37%;
  height: 37%;
}
.recentimg img{
  height: 95%;
  bottom: auto;
  left: 0;
  right: auto;
  top: 0;
  width: 100%;
  object-fit: cover;
}
.recenth2{
  font: 'MyWebFont';
  font-size: 1.2rem;
  /* margin-top: -120px; */
  font-weight: 100;
 
}
.recentp{
   margin-top: 5px;
  color: rgb(166, 166, 166);
  display: flex;
  justify-content: space-between;
}
.year{ 
  color: white;
}
.sect7rec2{
  top: 160vh;
  left: 28vw;
}
.sect7rec3{
  top: 215vh;
  left: 72vw;
}
.sect7rec4{
  top: 285vh;
  left: 28vw;
}
.sect7rec5{
  top: 400vh;
}
.sect7rec6{
  top: 520vh;
  left: 28vw;
}
.sect7rec7{
  top: 585vh;
  left: 72vw;
}
.sect7rec8{
  top: 650vh;
  left: 28vw;
}
.sect7rec9{
  top: 780vh;
}
#divqr {
  position: absolute;
  left: 10vw;
  bottom: 10vh;

  max-width: 150%;
  overflow: hidden; 
}

.wrapper {
  position: absolute;
  top: 5vh;
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 50s linear infinite;
}

.marquee p {
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
}
@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
#section8{
  position: relative;
  height: 115vh;
  z-index: 2;
}
#section8 h1{
  position: absolute;
  font-size: 2.8rem;
  top: 32vh;
  left: 15vw;
  width: 70%;
  line-height: 110%;
  letter-spacing: 2px;
  font-weight: 400;
}
.sect8div {
  position: absolute;
  top: 70vh;
  left: 50vw;
  transform: translate(-50%);
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 18%;
}
.sect8divr p{
  width: 500px;
  line-height: 150%
}

#section9 {
  height: 100vh;
  position: relative;
  z-index: 2;

  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* gap: 50%; */
}
.sect9cont {
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.sect9elem {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.sect9head {
  font-size: 1.4rem;
  line-height: 100%;
}
.sect9elem span{
  display: block;
  background-color: white;
  width: 100%;
  height: 1px;
  margin-top : 10px;
  margin-bottom : 10px;
}
.sect9p {
  line-height: 200%;
  font-size: 1rem;
}
.fwa {
  margin-top:2vh;
}
.cssdesign {
  margin:5vh 0;
}
.award{
  margin:5vh 0;
}
#section10 {
  position: relative;
  height: 100vh;
  z-index: 2;
}
.webgl3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;

}
.footer{
  position: absolute;
  top: 70vh;
  left: 20vw;
}
.footerleftcont {
  display: flex;
  gap: 15vw;
}
.footerright{
  position: absolute;
  top: 70vh;
  left: 70vw;
}
.socials{
  margin-top: -5px;
}
.footerleftdiv a{
  margin-left: -20px;
}
.footerleftdiv p{
 line-height: 200%;
}
.footerright div a {
  margin-left: -20px;
}
.footerright div {
  line-height: 200%;
}

#section10 a{
  color: white;
  text-decoration: none; 
}
#section10 a:hover{
  text-decoration: underline;
}
.wrapper2 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 100%;
  overflow: hidden;
}
@media (max-width:1200px){
  .sect4h1 h1{
    font-size: 3.5rem;
    width: 70vw;
  }
  .sect4cont { 
    margin-top: 20vh;
  }
  .sect6h1 h1{
    font-size:2.5rem;
    width: 65vw;
  }
  .sect6p p{
    width: 40vw;
  }
  .sect6p span {
    width: 40vw;
  }
  #section8 h1{
    font-size: 2.6rem;
    width: 70%;
  }
}
@media (max-width:1000px){
  #logo{
    display: block;
  }
  #section1 h1{
    top: 15vh;
    font-size: 50px;
    line-height: 52px;
  }
  #sect1p {
    top: 70vh;
    left: 13vw;
  }
  #sect1p p{
    width: 50vw;
    font-size: 1rem;
    line-height: 160%;
    font-weight: 300;
  }
  #scrolldown {
    display: none;
  }
  .sect4h1 h1{
    font-size: 3rem;
    width: 80vw;
  }
  .sect4cont { 
    margin-top: 20vh;
  }
  .sect6h1 h1{
    font-size:2.3rem;

  }
  #section7 h1{
    font-size: 7rem;
  }
  .marquee p {
    font-size: 4rem;
    font-weight: 500;
  }
  #section8 h1{
    font-size: 2.4rem;
    top: 32vh;
    left: 15vw;
    width: 80vw;
    line-height: 110%;
  }
}
@media (max-width:800px){
  .hover svg{
    width: 120px;
   height: 120px;
  }
  .read_more{
    width: 120px;
   height: 120px;
  }
  .sect4h1 h1{
    font-size: 2.2rem;
    width: 80vw;
  }
  .sect4cont { 
    flex-direction: column-reverse;
    margin-top: 19vh;
  }
  .sect4p p{
    width: 60vw;
  }
  .sect4p span {
    width: 60vw;
    margin-top: 3vh;
  }
  #section5 h1{
    font-size: 4.5rem;
    line-height: 120%;
  }
  .sect6h1 h1{
    font-size:2rem;
    width: 65vw;
  }
  .sect6cont{
    flex-direction: column-reverse;

  }
  .sect6h1 h1{
    font-size:1.5rem;
    width: 75vw;
  }
  .sect6p p{
    width: 80vw;
  }
  .sect6p span {
    width: 80vw;
  }
  #section7 h1{
    font-size: 5rem;
  }
  #section7 {
    height: 420vh;
  }
  .bigcontainer{
    position: absolute;
    top: 45vh;
    left: 68vw;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
  }
  .wid800{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
  }
  .recentworkcontainer{
    top: 20vh;
    position: inherit;
    width: 40vw;
    height: 70vh;

  }
  .recenth2{
    font-size: 0.8rem;
  }
  .recentp {
    font-size: 0.9rem;
  }
  .recentimg img{
    height: 90%;
  }
  .sect8div{
    flex-direction: column-reverse;

  }
  .marquee p {
    font-size: 2.9rem;
    font-weight: 500;
  }
  #section8{
    height: 105vh;
  }
  #section8 h1{
    font-size: 1.5rem;
    top: 26vh;
    left: 50%;
    transform: translate(-50%);
    width: 75vw;
    line-height: 110%;
  }
  .sect8div {
    top: 55vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content:space-between;
    align-items: center;

  }
  .sect8divr p{
    width: 75vw;
  }
  #divq {
    margin-top: 20px;
    margin-left: -50%;
  }
  .sect8divr p{
    font-size: 1rem;
  }
  .sect9cont {
    margin-left: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .sect9elem {
    width: 90vw;
  }
  .footer{
    font-size: 0.9rem;
    left: 10vw;
  }
  .footerright{
    font-size: 0.9rem;
    left: 70vw;
  }
}

@media (max-width:600px){
  .hamburger{
    margin-left: 75%;
  }
  #section1 h1{
    top: 15vh;
    font-size: 30px;
    line-height: 32px;
  }
  #sect1p {
    top: 70vh;
    left: 5vw;
  }
  #sect1p p{
    width: 50vw;
    font-size: 1rem;
    line-height: 160%;
    font-weight: 300;
  }
  #sect1p p{
    width: 90vw;
    font-size: 1rem;
    line-height: 160%;
    font-weight: 300;
  }
  #section1 li a{
    font-size: 10vw;
  }

  .sect4h1 h1{
    font-size: 2rem;
    width: 80vw;
  }
  .sect4cont { 
    flex-direction: column-reverse;
    margin-top: 19vh;
  }
  .hover svg{
    width: 100px;
   height: 100px;
  }
  .read_more{
    width: 100px;
   height: 100px;
  }
  .sect4p p{
    width: 80vw;
  }
  .sect4p span {
    width: 80vw;
  }
  #section5 h1{
    font-size: 3rem;
    line-height: 120%;
  }
  .sect6cont{
    flex-direction: column-reverse;

  }
  .sect6h1 h1{
    font-size:1.5rem;
    width: 75vw;
  }
  .sect6p p{
    width: 80vw;
  }
  .sect6p span {
    width: 80vw;
  }
  #section7 h1{
    font-size: 3rem;
  }
  #section7{
    height: 900vh;
  }
  .bigcontainer{
    position: absolute;
    top: 35vh;
    left: 87vw;
    transform: translate(-50%);
    width: 100%;
  }
  .wid800{
    display: flex;
    flex-direction: column;

  }
  .recentworkcontainer{
    top: 20vh;
    position: inherit;
    width: 75vw;
    height: 90vh;
  }
  .recentimg img{
    height: 95%;
    
  }
  .recenth2{
    font-size: 1rem;
  }
  .recentp {
    font-size: 0.9rem;
  }
  .marquee p {
    font-size: 3rem;
    font-weight: 500;
  }
  #section8 h1{
    font-size: 1.5rem;
    top: 28vh;
    left: 15vw;
    width: 80%;
    line-height: 110%;
  }
  .sect8div{
    flex-direction: column-reverse;

  }
  .marquee p {
    font-size: 2.9rem;
    font-weight: 500;
  }
  #section8 h1{
    font-size: 1.5rem;
    top: 26vh;
    left: 50%;
    transform: translate(-50%);
    width: 75vw;
    line-height: 110%;
  }
  .sect8div {
    top: 55vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content:space-between;
    align-items: center;

  }
  .sect8divr p{
    width: 75vw;
  }
  #divq {
    margin-top: 20px;
    margin-left: -50%;
  }
  .sect8divr p{
    font-size: 1rem;
  }
  .footer{
    font-size: 0.8rem;
    top: 75vh;
    left: 5vw;
  }
  .footerright{
    top: 75vh;
    font-size: 0.8rem;
    left: 65vw;
  }
}
@media (max-width:430px){
  .hamburger{
    margin-left: 70%;
  }
  #section1 h1{
    top: 15vh;
    font-size: 30px;
    line-height: 32px;
  }
  .sect4h1 h1{
    font-size: 1.5rem;
    width: 85vw;
  }
  #section5 h1{
    font-size: 2rem;
    line-height: 120%;
  }
  .sect6h1 h1{
    font-size: 1.3rem;
  }
  #section7{
    height: 700vh;
  }
  #section7 h1{
    font-size: 2rem;
  }
  .recentworkcontainer{
    width: 75vw;
    height: 70vh;
  }
  .recentimg img{
    height: 95%; 
  }
  .bigcontainer{
    top: 30vh;
  }
  .marquee p {
    font-size: 2.8rem;
    font-weight: 500;
  }
  #section8 h1{
    font-size: 1.3rem;
    top: 26vh;
    left: 50%;
    transform: translate(-50%);
    width: 80vw;
    line-height: 110%;
  }
  .sect8div {
    top: 50vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content:space-between;
    align-items: center;

  }
  .sect8divr p{
    width: 80vw;
  }
  #divq {
    margin-top: 20px;
    margin-left: -50%;
  }
  .sect8divr p{
    font-size: 0.9rem;
  }
  .footer{
    font-size: 0.7rem;
    top: 75vh;
    left: 5vw;
  }
  .footerright{
    top: 75vh;
    font-size: 0.7rem;
    left: 60vw;
  }
  .footerleftcont {
    gap: 5vw;
  }
  
}
@media (max-width:300px){
  #section6 {
    height: 150vh;
  }
  .footer{
    font-size: 0.5rem;
    top: 75vh;
    left: 5vw;
  }
  .footerright{
    top: 75vh;
    font-size: 0.5rem;
    left: 60vw;
  }
}


/* svg  */
/* svg  */
/* svg  */



.read__more{
  transition: all .5s ease-in-out;
  transform: scale(0);
}

.hover{
  position: absolute;
  /* padding: 20px; */
  /* background-color: aqua; */
}

.cta__circle:hover .read__more {
  transform: scale(1);
}

.full_video{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.full_video img {
  width: 125%;

}

/* Contact us */
#divq2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact{

  width:170px;
  height:170px;
  /* padding: 15px; */
  margin-top: -20px;
}
.contact svg{
  width: 170px;
  height: 170px;

}

.orange{
  position: absolute;
  transition: all .5s ease-in-out;
  transform: scale(0);
}

.orange::after{
  scale: 0;
}

.contact:hover .orange {
  transform: scale(1.01);
}



/* .container {
  position: absolute;
  width:auto;
  height: auto;

} */

.swipeimage {
  position: absolute;
  width: 100px;
  height: 100px;

  z-index: 9;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* .imagediv{
  position: absolute;
  margin: 0;
  /* left: 40%; */
  /* padding-right: -14px; */
/* } */

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  }
a:hover {
      text-decoration:none;
  }

